@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.header-wrapper {
  font-family: "Roboto", sans-serif;
  box-shadow: 0 5px 10px 20px #f7f7f7;
  border: 1px solid #efefef;
  border-radius: 4px;
  @include flex-center;
  justify-content: space-between;
  padding: 0 1rem;

  & .menu {
    @include flex-center;
    ul {
      all: unset;
      @include flex-center;
      list-style-type: none;
      li {
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }

  & .action {
    @include flex-center;
    ul {
      all: unset;
      @include flex-center;
      list-style-type: none;
      li {
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }
}
